/* .contactlist {
  padding: 10px;
  height: calc(100vh - 50px);
  margin: 0 auto;
  transform: translateZ(0); 
} */

.contactList {
  margin-left: 10px;
  margin-right: 10px;
}


.contact-card {
  display: -webkit-flex; /*Safari*/
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  }

.contact-card__title {
  color: rgba(255, 255, 255, 0.8); /*#bdbebf; */
  font-size: 15px;
  font-weight: 400;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

.contact-card__subtitle {
  color: #aaabac;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }


.contact-card--full {
  margin-bottom: 20px;
  height: 100px;
  max-width: 600px;
  background: #1d1e1f; }

.contact-card--full .contact-card__image {
    align-self: flex-start;
    width: 100px; }

.contact-card--full .contact-card__main {
    flex: 1;
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    padding: 14px 20px 0 16px;
    overflow: hidden; }

.contact-card--full  .contact-card__title {
    line-height: 1.38462 ;
    }

.contact-card--full  .contact-card__subtitle {
    padding-bottom: 50px;
    color: #aaabac !important;
    line-height: 1.26667;
     }

.search-result-highlight {
    color: red; /*#6caedd;*/
    font-weight: bold;
}

/* 
.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 100px;

  background: #1d1e1f;
  margin-bottom: 15px;
}

.contact-item-left {
  flex: none;
  height: inherit;
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: black;
}

.contact-item-right {
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  color: white;
  padding: 10px;
  padding-left: 20px;
} */